@page "/2024/day/1"

<Puzzle Year="2024" Day="1" />

<br/>
<button class="btn btn-primary" @onclick="GetTotalDistance">Get Total Distance</button>
<p role="status">Total Distance: @_totalDistance</p>

<button class="btn btn-primary" @onclick="GetSimilarityScore">Get Similarity Score</button>
<p role="status">Similariry Score: @_similarityScore</p>

@code{
    private List<int> _leftList = [];
    private List<int> _rightList = [];

    private int _totalDistance = 0;
    private int _similarityScore = 0;

#region Puzzle

    // Parse the input into the lists
    private void ParseInput()
    {
        _leftList = [];
       _rightList = []; 
        var lines = Puzzle._puzzleString.Split(Environment.NewLine);
        foreach(var line in lines)
        {
            // puzzle input from aoc site has multiple whitespaces in between
            // so split based on whitespace and remove all empty strings
            var values = line.Split(" ").ToList();
            values.RemoveAll(s => s == string.Empty);

            _leftList.Add(int.Parse(values[0]));
            _rightList.Add(int.Parse(values[1]));
        }
    }

    // Part 1
    public void GetTotalDistance()
    {
        var totalDistance = 0;

        ParseInput();
        // just sort the number to later substract to get the distance on each node
        _leftList.Sort();
        _rightList.Sort();

        var length = _leftList.Count;

        // just making sure that I don't hit index out of bound
        if(_leftList.Count != _rightList.Count)
        {
            throw new InvalidOperationException("Length doesn't match");
        }

        // lets loop through each node in both list to get the distance
        // between them and add to get the total distance
        for(int i = 0; i < length; i++){
            totalDistance += Math.Abs(_leftList[i] - _rightList[i]);
        }

        _totalDistance = totalDistance;
    }

    // Part 2
    public void GetSimilarityScore()
    {
        var similarityScore = 0;

        ParseInput();
        // find the occurence of numbers if the right list
        var rightListOccurence = _rightList.GroupBy(x=>x)
            .Select(n => new { Element = n.Key, Count = n.Count()});

        foreach(var leftListItem in _leftList)
        {
            var occurence = rightListOccurence
                .Where(x => x.Element == leftListItem)
                .Select(x=>x.Count)
                .FirstOrDefault();

            similarityScore += leftListItem * occurence;
        }

        _similarityScore = similarityScore;
    }

#endregion
}
